{#
/**
 * @file
 * Wordcloud element.
 *
 * Available variables
 * - id: a unique identifier.
 * - width: the element width.
 * - height: the element height.
 * - transition_duration: the transition duration.
 * - scale: the element scaling strategy.
 * - fill: the element words fill colors.
 * - words: the element words with weight and href.
 *
 * @see template_preprocess_details()
 * @see claro_preprocess_details()
 */
#}
{% set attributes = attributes.addClass('wordcloud') %}
{% set attributes = attributes.setAttribute('id', id) %}
{% set attributes = attributes.setAttribute('data-width', width) %}
{% set attributes = attributes.setAttribute('data-height', height) %}
{% set attributes = attributes.setAttribute('data-transition-duration', transition_duration) %}
{% set attributes = attributes.setAttribute('data-scale', scale) %}
<div{{ attributes }}></div>
